.modal-header {
	color: #474747;
    background-color: #cdcdcd;
    text-shadow: 2px 4px 8px #6f6f6f;
}

.modal-body {
	color: #696969;	
	background-color: #e9e9e9;
}

.modal-footer {
	background-color: #cdcdcd;
}

input {
	background-color: #f5f5f5;	
	color: #4e4e4e;    	
}

.inputText {
	width: 300px;
}

#inlineRadio1, #inlineRadio2 {
	margin-left: 3px;
}


