.App {
  text-align: center;
}

h1 {
  margin: 50px 0px 50px !important;
}

.form-group {
  width: 80%;
  margin: auto; 
  margin-top: 20px;   
}

.btnEdit {
  color: green;
  cursor: pointer;  
}
.btnEdit:hover {
  font-size: 1.3em;
  opacity: 0.8;
}

.disabled {
  pointer-events: none;  
}

.btn-light {
  margin: 1px;
}

.logout {
  margin-left: 4px;
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}






