.App {
  text-align: center;
}

h1 {
  margin: 50px 0px 50px !important;
}

.form-group {
  width: 80%;
  margin: auto; 
  margin-top: 20px;   
}

.btnEdit {
  color: green;
  cursor: pointer;  
}
.btnEdit:hover {
  font-size: 1.3em;
  opacity: 0.8;
}

.disabled {
  pointer-events: none;  
}

.btn-light {
  margin: 1px;
}

.logout {
  margin-left: 4px;
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.dropdown-toggle {
  margin-top: 5px;
}

.openTask {
  color: red;
}

.doneTask {
  color: green;
}

.paginBtn {
	font-weight: bold !important;
	color: #7d7d7d !important;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #616161;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;  
  position: absolute;  
}

.tooltipLogged {
	visibility: hidden;
	position: absolute; 
}

td:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.5s;  
}




