.App {
  text-align: center;
}

h1 {
  margin: 70px 0px 50px !important;
}

.form-group {
  width: 80%;
  margin: auto;  
}

.btnEdit {
  color: green;
  cursor: pointer;  
}
.btnEdit:hover {
  font-size: 1.3em;
  opacity: 0.8;
}

.disabled {
  pointer-events: none;  
}






